html,body{
    width: 100%;
    height: 100%;
    font-family: 'Trispace', sans-serif;
  }
  
  
  .titulo-pagina{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: rgb(54, 172, 60);
    color: rgb(255, 255, 255);
    margin: 0;
    padding-top: 12px;
  }
  
  .contenedor-tienda{
    padding-top: 3%;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    background-color: rgb(56, 63, 56);
    flex-wrap: wrap;
  }
  
  .card{
  
    height: 500px;
    width: 400px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
  }
  
  .card-img-top{
  
    height: 280px;
    width: 280px;
  }
  
  .nombre-producto{
  
    color: rgb(160, 160, 160);
    font-weight: 800;
  }
  
  .card-precio{
  
    font-weight: 500;
    color:rgb(22, 22, 24)
  }
  
